.transitionItem {
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.3s;
  opacity: 0;
}

.openItem {
  opacity: 1;
}

.closeItem {
  opacity: 0;
}

.button {
  box-shadow: 1px 1px 3px 0px;
  transition: transform 0.1s ease;
}

.button:active {
  transform: scale(
    0.9
  ); /* Hace el botón ligeramente más pequeño al pulsar, simulando un efecto de presión */
}

.dropButton {
  transform: rotate(180);
}
