
@import "../../styles/colors.css";

.no-border-focus {
    cursor: pointer;
}

.no-border-focus:focus {
    outline: none;
    border-width: 1px;
    border-color: lightgray;
    box-shadow: none !important; 
}

.taskWidth {
    @media screen and (min-width: 320px) {
        min-width: calc(100vw - 84px);
    }
    @media screen and (min-width: 440px) {
        min-width: 270px;
    }
}

.backlog-card {
    background: linear-gradient(to bottom, var(--primary-500) -50%, #FFF 50%, var(--primary-500) 150%);
    background-color: green;
}