
@import "../../styles/colors";

.no-border-focus {
    cursor: pointer;
}

.no-border-focus:focus {
    outline: none;
    border-width: 1px;
    border-color: lightgray;
    box-shadow: none !important; 
}

.taskWidth {
    @media screen and (min-width: 320px) {
        min-width: calc(100vw - 84px);
    }
    @media screen and (min-width: 440px) {
        min-width: 270px;
    }
}

.backlog-card {
    background: linear-gradient(to bottom, var(--primary-400) -50%, var(--primary-50) 50%, var(--primary-400) 150%);
}

.pattern_school {
    position: relative;
    z-index: 1; /* Asegúrate de que el contenido esté en el nivel superior */
};

.pattern_school::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-image: url("/backgrounds/pattern_school.jpg");
    z-index: -1;
    filter: opacity(0.08);

    min-width: calc(((100vw - 32px * 2) * 5) - 18px);
}

@media screen and (min-width: 440px) {
    .pattern_school::after {
        min-width: calc(290px * 5 - 18px); /* Ancho de cada tarjeta por 5 menos el ancho de la barra de scroll */
    }
}
@media screen and (min-width: 1536px) {
    .pattern_school::after {
        min-width: 1472px; /* Ancho maximo del parent */
    }
}

.thumbtack {
    background-image: url("/icons/thumbtack.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left:0%;
    top: -10px;
}

.ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Cambia el número de líneas antes de truncar */
    overflow: hidden;
}