
@import "../../styles/colors";

.no-border-focus {
    cursor: pointer;
}

.no-border-focus:focus {
    outline: none;
    border-width: 1px;
    border-color: lightgray;
    box-shadow: none !important; 
}

.taskWidth {
    @media screen and (min-width: 320px) {
        min-width: calc(100vw - 84px);
    }
    @media screen and (min-width: 440px) {
        min-width: 270px;
    }
}

.backlog-card {
    background: linear-gradient( var(--primary-800) -20%, var(--accent-200) 50%, var(--primary-800) 120%);
}
.task-card {
 /*    background:
        radial-gradient(ellipse at top left, var(--accent-200), transparent 50%),
        radial-gradient(ellipse at top right, var(--primary-900), transparent 50%),
        radial-gradient(ellipse at bottom left, var(--primary-900), transparent 50%),
        radial-gradient(ellipse at bottom right, var(--accent-200), transparent 50%); */
    /* background: linear-gradient(135deg, var(--primary-800) -0%, var(--accent-200) 50%, var(--primary-800) 100%); */
    /* background: linear-gradient(135deg, white -0%, var(--accent-200) 50%, white 100%); */
    background-color: var(--primary-200);

    button {
        color: var(--primary-700);
    }

    p {
        color: black;
    }
}

.pattern {
    position: relative;
    z-index: 1; /* Asegúrate de que el contenido esté en el nivel superior */
    scrollbar-color: #202097 #8998f5;
    background-clip: padding-box;
    padding: 1rem;
};

.pattern::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-image: url("/backgrounds/project_bg.png");
    /* filter: grayscale(1); */
    filter: opacity(0.35);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;

    min-width: calc(((100vw - 32px * 2) * 5) - 18px);
}

@media screen and (min-width: 440px) {
    .pattern::after {
        min-width: calc(290px * 5 - 18px); /* Ancho de cada tarjeta por 5 menos el ancho de la barra de scroll */
    }
}
@media screen and (min-width: 1536px) {
    .pattern::after {
        min-width: 1472px; /* Ancho maximo del parent */
    }
}

.thumbtack {
    background-image: url("/icons/thumbtack.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left:0%;
    top: -10px;
}

.ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5; /* Cambia el número de líneas antes de truncar */
    overflow: hidden;
}