@import "grid.scss";
@import "colors.scss";

.container {
    height: $height-nav;
    @extend .flex-center;
    color: $color-ternary;
    width: 100%;
    flex: 1 1 80px;
    max-width: 130px;

    &:last-child() {
        margin-left: auto;
        gap: 0.2rem;
    }

    &.width {width: 150px;}

    .content {
        cursor: pointer;
        min-width: max-content;
/*         border-bottom: 2px solid white;
        margin-inline: 20px;
        width: 180px; */

        &:hover {
            color: darken($color-ternary, 25%);
            transform: scale(1.05);
        }

        .content__link {
            @extend .flex-center;
            gap: 0.2rem;
        }


        .image {
            display: block;
            height: 100%;
        }
        
    }
}