@import "../../styles/_breakpoints";

.eos-table {
    border: 2px solid black;

    &>div:not(:last-child) {
        border-bottom: 2px solid black;
    }

    .cell:not(:last-child) {
        border-right: 2px solid black;

/*         display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden; */
    }
}

.panel {
    background-color: var(--primary-900);
    
    position: relative;

    aspect-ratio: 491 / 232; /* O el ratio de tu imagen */
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;

    
    clip-path: inset(0 round 8px); /* Redondear esquinas */

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        background-image: url("/backgrounds/tasklist.png");
        /* filter: grayscale(1); */
        filter: opacity(0.55);
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
    }

    input {
        background-color: transparent;
    }
    
    
}    



.panel-content {
    display: flex;
    flex-direction: column;
    align-items: anchor-center;

    scrollbar-width:none;          /* "auto" or "thin" */
    scrollbar-color: var(--accent-700) var(--accent-200);   /* scroll thumb and track */ 


    height: 85%;
    width: 100%;
    padding-inline: 1rem;

    @media screen and (min-width: $medium) { 

        width: 85%;
        padding-inline: unset;
        padding-block: unset;

    }
    @media screen and (min-width: $large) { 
        width: 70%;
    }


}

.panel-temperature-content {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: anchor-center;

    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: var(--accent-700) var(--accent-200);   /* scroll thumb and track */ 


    height: 85%;
    width: 70%;

    @media screen and (min-width: $medium) { 

        height: 80%;
        width: 85%;

    }
    @media screen and (min-width: $large) { 
        width: 70%;
    }
}


.x-icon {
    width: 1rem; // w-4
    height: 1rem; // h-4
  
    @media (min-width: 768px) {
      width: 1.5rem; // md:w-6
      height: 1.5rem; // md:h-6
    }
  
    background-color: rgba(255, 255, 255, 0.05); // bg-white/5
    border: 1px solid #4be7f5; // border-accent-300/40 (aprox 40% opacity)
    color: #f87171; // text-accent-danger-400 (usando el rojo típico de alerta)
  
    cursor: pointer;
  
    &:hover {
      background-color: rgba(248, 113, 113, 0.3); // hover:bg-accent-danger/30
      color: #fca5a5; // hover:text-accent-danger-300
    }
}

.panel-button {
    position: relative;
    padding: 0.3rem 1.2rem; // py-2 px-6
    font-weight: bold;
    font-size: 12px; // text-sm
    color: var(--accent-100); // text-accent-100
    background-color: hsla(186, 100%, 60%, 0.1); // bg-accent-300/10
    border: 1px solid hsla(186, 100%, 60%, 0.4); // border-accent-300/40
    box-shadow: 0 0 4px #4be7f5;
    transition: all 0.3s ease;
  
    &:hover {
      background-color: hsla(186, 100%, 60%, 0.2); // hover:bg-accent-300/20
      box-shadow: 0 0 8px #4be7f5;
      color: white;
    }

    @media screen and (min-width: $medium) { 
        padding: 0.5rem 1.5rem; // py-2 px-6
        font-size: 0.875rem; // text-sm
    }
}
  
  
  