.eos-table {
    border: 2px solid black;

    &>div:not(:last-child) {
        border-bottom: 2px solid black;
    }

    .cell:not(:last-child) {
        border-right: 2px solid black;

/*         display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden; */
    }
}