@import "../../styles/colors";
$font-size-button: 16px;
$line-height-button: 1.5;
$border-button: 2px;
$grid-unit: 4px;

.button {
    font-size: $font-size-button;
    line-height: $line-height-button;
    padding-block: calc((round(($font-size-button * $line-height-button) / $grid-unit) * $grid-unit - $border-button * 2) / 2);
    border: $border-button solid black;
}

.cut-button {
    $font-size: 20px;
    $padding-inline: 48px;
    $padding-block: 12px;
    $border-width: 2px;
    $border-color: white;
    $bg-hover-color: var(--accent-200);

    $corner-height: calc($font-size + $padding-block * 2 + $border-width * 2);
    $hyp: calc(#{$corner-height} * 1.41421356237);
    $offset: calc($hyp / 2);
    $offset-correction: $border-width * 1.41421356237;
    $corrected-offset1: calc($offset - $offset-correction); /* El gradient que se pinta NO comienza en el borde sino en el padding, y eso debe tenerse en cuenta de este modo */
    $corrected-offset2: calc($offset - $offset-correction); /* El gradient que se pinta NO comienza en el borde sino en el padding, y eso debe tenerse en cuenta de este modo */

    font-size: $font-size;
    padding-inline: $padding-inline;
    padding-block: $padding-block;
    line-height: 1;
    border-width: $border-width;
    border-color: $border-color;

    

    background: linear-gradient(135deg, var(--primary-200) $corrected-offset1, $border-color $corrected-offset1, $border-color calc($corrected-offset1 + $border-width), 
    var(--primary-200) calc($corrected-offset1 + $border-width),
    var(--primary-200) calc(100% - $corrected-offset2 - $border-width),
    $border-color calc(100% - $corrected-offset2 - $border-width), $border-color calc(100% - $corrected-offset2), var(--primary-200) calc(100% - $corrected-offset2 - $border-width));

    &:hover {
        background: linear-gradient(135deg, $bg-hover-color $corrected-offset1, $border-color $corrected-offset1, $border-color calc($corrected-offset1 + $border-width), 
        $bg-hover-color calc($corrected-offset1 + $border-width),
        $bg-hover-color calc(100% - $corrected-offset2 - $border-width),
        $border-color calc(100% - $corrected-offset2 - $border-width), $border-color calc(100% - $corrected-offset2), $bg-hover-color calc(100% - $corrected-offset2 - $border-width));
    }

    /* Crea un mask para evitar que la sombra de la animacion al pulsar se vea por fuera */
    mask-image: linear-gradient(
    135deg,
    transparent #{$corrected-offset1},
    black #{$corrected-offset1},
    black calc(100% - #{$corrected-offset2}),
    transparent calc(100% - #{$corrected-offset2})
    );

    mask-repeat: no-repeat;
    mask-size: 100% 100%;



    .corner {
        &:nth-of-type(1) {
            position: absolute;
            /* transform: translateX(-12%) translateY(-12%); */
            background: linear-gradient(135deg, var(--primary-200) 50%, transparent 50%);
            top: -$border-width;
            left: -$border-width;
            height: $corner-height;
            width: $corner-height;
            pointer-events: none;
        }
    /*     &:nth-of-type(2) {
            position: absolute;
            transform: translateX(50%) translateY(-50%);
            top:0;
            right: 0;
            height: 20px;
            width: 20px;
            background-color: var(--primary-200);
        } */
        &:nth-of-type(3) {
            position: absolute;
            /* transform: translateX(9%) translateY(9%); */
            background: linear-gradient(315deg, var(--primary-200) 50%, transparent 50%);
            /* background: transparent; */
            bottom: -$border-width;
            right: -$border-width;
            height: $corner-height;
            width: $corner-height;
            pointer-events: none;
        }
    /*     &:nth-of-type(4) {
            position: absolute;
            transform: translateX(-50%) translateY(50%);
            bottom:0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: var(--primary-200);
        } */
    }
}
