@import "grid.scss";
@import "colors.scss";

.container {
    height: 0;
    width: 100%;
    transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;
    box-sizing: border-box;
    $border-width: 2px;

    &.open {
        /* height: 20vh; */
        height: var(--height);
    }

    & > *{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 1 1 20px;
        transition: border cubic-bezier(0.4, 0, 0.2, 1) 0s;
        

        &:not(:last-child) {
            border-bottom: $border-width solid black;
        }


        & > * {
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            cursor: pointer;

            color: $color-ternary;
        }

        a {
            width: 100%;
            height: 100%;
        }
    }
}