@import "colors.scss";
@import "grid.scss";


.container {
    background-color: $color-secondary;
    display: flex;
    padding-inline: 20px;
    color: $color-ternary;

    .container__logo {
        @extend .flex-center;
        flex: 1 1 130px;
        max-width: 90px;
        display: flex;
        justify-content: center;

        &.final {
            margin-left: auto;
            gap: 0.2rem;
        }

        .logo {
            @extend .flex-center;
        }
    }

    ul {
        display: flex;
        flex-grow: 1;
        list-style: none;
        column-gap: 0.5rem;
        margin: 0;
        padding: 0;

        li {
            flex: 1 1 100px;
            max-width: 180px;
        }
    }
}