@import "colors.scss";
@import "grid.scss";


.container {
    background-color: $color-secondary;
    display: flex;
    color: $color-ternary;

    ul {
        display: flex;
        flex-grow: 1;
        list-style: none;
        column-gap: 0.5rem;
        margin: 0;
        padding: 0;

        li {
            flex: 1 1 100px;
            max-width: 180px;
        }
    }
}