@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../styles/_fonts.css";
@import "../styles/colors.css";
@import "../styles/animations.css";

:root {
  --columns: 5;
  --lineheight: 1.5rem;
}


@layer base {
  body {
    color: rgb(var(--gray-900));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }

  .showgrid::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 1000rem;
    opacity: 0.75;
    top: 0;
    left: 0;
    z-index: 999;
    background: repeating-linear-gradient(
      /* columns */
      90deg,
      rgba(0,0,0,0) 0%,
      rgba(0,0,0,0) 5%,
      rgba(255,0,0,0.05) 5%,
      rgba(255,0,0,0.05) 95%,
      rgba(0,0,0,0) 95%,
      rgba(0,0,0,0) 100%
    ),
    repeating-linear-gradient(
      /* rows */
      0deg,
      rgba(0,0,0,0) 0%,
      rgba(0,0,0,0) 50%,
      rgba(0,0,255,0.05) 50%,
      rgba(0,0,255,0.05) 100%
    );
    background-repeat: repeat repeat;
    background-position: 0 0, 0 0;
    background-size: calc(100% / var(--columns)) auto, 100% calc(var(--lineheight)*2);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles.css */
.supercontainer {
  padding-inline: 20px;
}
.supercontainer > * {
  margin-left: auto;
  margin-right: auto;
}

.custom-shadow {
  box-shadow: 4px 4px 4px 0px;
}

.full-width-with-bar {
  width: calc(100vw - 17px);
  @media screen and (min-width: 640px) {
    width: 16rem;
  }
}

.swiper-container {
  max-width: calc(85vw - 20px);

  @media screen and (min-width: 640px) {
    max-width: 24rem;
  }
}

/* WhatCards */

.swiper-container-home {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}



/* ------------------------------Toast------------------------------ */

.toast-custom-success {
  background-color: var(--accent-500); /* Color verde para éxito */
  color: #fff; /* Texto blanco */
}

/* 
toast.success('Success message!', {
  className: 'toast-custom-success',
});
*/

.toast-custom-error {
  background-color: var(--accent-danger-500); /* Color rojo para error */
  color: #fff; /* Texto blanco */
}
