@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary: #362ebb;
  --secondary: #4caf50;
  --tertiary: #2196f3;
  --accent: #8a9bf4; /* light primary */
  --info: #81c784; /* light secondary */
  --highlight: #90caf9; /* light tertiary */

  --accent: #f472b6;
  --info: #4ade80;

  --black: #262626;
  --white: #fff;
  --fuente-principal: "Outfit", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles.css */
.supercontainer {
  padding-inline: 20px;
}
.supercontainer > * {
  margin-left: auto;
  margin-right: auto;
}

.custom-shadow {
  box-shadow: 4px 4px 4px 0px;
}
