@import "grid.scss";
@import "colors.scss";

.container {
    position: relative;
    
    .content {
        position: relative;
        $width: var(--contentWidth); //90vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--gapWidth); //8vw;
        /* padding-inline: 1rem; */
        box-sizing: border-box;
        /* border: 2px solid black; */
        width: $width;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        margin: auto;
        padding-top: 1rem; // Esto corrige el padding-bottom aparente de la barra de scroll
    
    /*     border-inline: unset;
        gap: unset;
        padding-inline: unset; */
    
        &::-webkit-scrollbar {
            width: 1rem; 
        }
    /*     &::-webkit-scrollbar-thumb {
            background-color: green; Color del "pulgar" de la barra de desplazamiento
        } */

        .content_child {
            display: flex;
            justify-content: center;
            flex: 0 0 var(--slideWidth); //25vw;
            height: 150px;
            scroll-snap-align: none center;

            &:nth-of-type(2n) {
                p {
                    background: green;
                }
            }
            &:nth-of-type(2n + 1) {
                p {
                    background: blue;
                }
            }

            p {
                width: 100%;
            }
        }
    }

    .dots {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 32px;
        width: 100%;
    }

    button {
        position: absolute;
        height: 20px;
        width: 20px;
        background-image: url("/icons/arrow.png");
        background-size: 100% auto;
        background-color: #ccc;
        border-radius: 50%;
    }

    $button-displacement: calc(-5px + 1vw);

    .button_back {
        left: $button-displacement;
        top:50%;
        transform: rotate(180deg);
    }
    .button_forward {
        right: $button-displacement;
        top:50%;
    }
}