@import "colors.scss";
@import "grid.scss";


.container {
    background-color: $color-secondary;
    display: flex;
    color: $color-ternary;
    position: relative;
    z-index: 999;

    .content {
        color: red;
    }

    .content_desktop {
        display: flex;
        flex-grow: 1;

        @media screen and (max-width: $average) {
            display: none;
        }
    }

    .content_mobile {
        display: none;
        padding-left: 1.5rem;
        position: relative;

        img {
            width: 40px;
            height: auto;
            cursor: pointer;
            box-shadow: 0px 0px 1px 0px;
            background-color: lighten($color-secondary,15%);
            padding: 2px;
            border-radius: 4px;
            transition: border-radius 0.2s ease-in;

            &:hover {
                border-radius: 50%;
            }
        }

        .accordion {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 220px;
            transform: translateY(100%);
        }

        @media screen and (max-width: $average) {
            flex-grow: 1;
            display: flex;
            justify-content: start;
            align-items: center;
        }

    }

    ul {
        display: flex;
        flex-grow: 1;
        list-style: none;
        column-gap: 0.5rem;
        margin: 0;
        padding: 0;

        li {
            flex: 1 1 100px;
            max-width: 180px;
        }
    }
}