
.contenedor {
    display: grid;
    grid-template-columns: 1fr 236px;
    gap: 6px;
    /* height: 297mm; */
    /* min-height: 297mm; */
    /* min-height: 594mm; 2 paginas*/
    
}

.seccion-cuerpo-central > *:not(:last-child) {
  padding-bottom: 0.75rem; /* Espacio entre elementos */
}

.subseccion-cuerpo-central > *:not(:last-child) {
  padding-bottom: 0.5rem; /* Espacio entre elementos */
}

.subseccion-info-cuerpo-central > *:not(:last-child) {
  padding-bottom: 0.75rem; /* Espacio entre elementos */
}