@import "../../../styles/colors";

$blue-600: #336ecc; //rgb(59 130 246)
$blue-800: #0a287b;
$blue-300: #74a2ec;

$indigo-600: #362fbc;
$indigo-800: #130d77;
$indigo-300: #948fef;

$yellow-600: #8dbc2f;
$yellow-800: #54770d;
$yellow-300: #cfef8f;

$green-600: var(--accent-600);
$green-800: var(--accent-800);
$green-300: var(--accent-300);

$gray-400: var(--gray-400);
$gray-200: var(--gray-200);


.blue-indigo {
    color: white;
    &.body-title {color: $blue-600}
    &.body-main {color: $blue-800;}

    &.header {
        background-color: $indigo-800;
        color: $gray-400;
        h1 {
            color: white;
        }
    }

    &.side {background-color: $indigo-600;}
    &.aux {color: $gray-400;}
    &.body-icon {background-color:  $blue-600;}
    &.bar {background-color:  $indigo-800;}
    &.offset-bar {background-color: rgb(129 140 248);}

    &.boundary {border: $blue-600;} 
    &.boundary-buttons {background-color: $blue-600;}
}

.indigo-yellow {
    color: white;
    &.body-title {color: $indigo-600}
    &.body-main {color: $indigo-800;}

    &.header {
        background-color: $yellow-800;
        color: $gray-400;
        h1 {
            color: white;
        }
    }

    &.side {background-color: $yellow-600;}
    &.aux {color: $gray-400;}
    &.body-icon {background-color:  $indigo-600;}
    &.bar {background-color:  $yellow-800;}
    &.offset-bar {background-color: $yellow-300;}

    &.boundary {border: $blue-600;} 
    &.boundary-buttons {background-color: $blue-600;}
}

.blue-yellow {
    color: white;
    &.body-title {color: $blue-600}
    &.body-main {color: $blue-800;}

    &.header {
        background-color: $yellow-800;
        color: $gray-400;
        h1 {
            color: white;
        }
    }

    &.side {background-color: $yellow-600;}
    &.aux {color: $gray-400;}
    &.body-icon {background-color:  $blue-600;}
    &.bar {background-color:  $yellow-800;}
    &.offset-bar {background-color: $yellow-300;}

    &.boundary {border: $blue-600;} 
    &.boundary-buttons {background-color: $blue-600;}
}

.blue-orange {
    color: white;
    &.body-title {color: $indigo-600}
    &.body-main {color: rgb(30, 58, 138);}

    &.header {
        background-color: rgb(154 52 18);
        color: $gray-400;
        h1 {
            color: white;
        }
    }

    &.side {background-color: rgb(224, 140, 30);}
    &.aux {color: $gray-400;}
    &.bar, &.body-icon {background-color:  $blue-600;}
    &.offset-bar {background-color: rgb(129 140 248);}

    &.boundary {border: $blue-600;} 
    &.boundary-buttons {background-color: $blue-600;}
}

.blue-green {
    color: white;
    &.body-title {color: $blue-600}
    &.body-main {color: $blue-800;}

    &.header {
        background-color: $green-800;
        color: $gray-200;
        h1 {
            color: white;
        }
    }
    
    &.side {background-color: $green-600;}
    &.aux {color: $gray-200;}
    &.body-icon {background-color:  $blue-600;}
    &.bar {background-color:  $green-800;}
    &.offset-bar {background-color: $blue-300;}

    &.boundary {border: $blue-600;} 
    &.boundary-buttons {background-color: $blue-600;}
}


