@import "../../styles/_breakpoints";

.image-item {
    @media screen and (max-width: #{$medium - 1px}) {
        width: 100vw;
        min-height: 75vw;
        max-height: 100%;
        max-width: 100%;
    }
}