.plots {
    display: grid;
    margin-inline: auto;

/*     @media screen and (min-width: $medium) { 
        grid-template-columns: repeat(2, 1fr);
        max-width: max-content;
    }
    @media screen and (min-width: $large) { 
        grid-template-columns: repeat(3, 1fr);
        max-width: 67rem;
    } */
}