@import "../../styles/breakpoints";

$initialTop: 250px;
$top: 8.5rem;
$scroll-offset: 4px;

    .tracker-container {
        top: calc($initialTop + $scroll-offset);
        position: sticky;
        z-index: 2;

        .tracker {
            position: absolute;
            right: 0;
            height: min-content;
            width: 100%;
            top: -$initialTop;
    
            section:nth-of-type(1) {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(24px, 1fr));
                grid-template-rows: max-content;
                flex: 1;
            }
    
            section:nth-of-type(2) {
                height: max-content;
            }
    
        }

        @media screen and (min-width: $small) {
            top: calc($top + $scroll-offset);
            .tracker {
                /* width: 172px; */
                top: -$top;
            }
        }
    }
