

:root {
/*     --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255; */
  
/*     --primary: #6366F1;
    --secondary: #81c784;
    --tertiary: #90caf9;
  
    --dark-primary: #1E1B4B;
    --dark-secondary: #348137;
    --dark-tertiary: #2196f3;
  
    --accent: #f472b6;
    --info: #4caf50; */

    /* --------------------------------Primary-------------------------------- */

    --primary-50: #e5edff;  /* hsla(222, 100%, 95%, 1) */
    --primary-100: #ccd5ff;  /* hsla(229, 100%, 90%, 1) */
    --primary-200: #b3c1ff;  /* hsla(229, 100%, 85%, 1) */
    --primary-300: #8998f5;  /* hsla(232, 85%, 75%, 1) */

    --primary-400: #565ee6;  /* hsla(237, 74%, 62%, 1) */
    --primary-500: #4d4dcb;  /* hsla(240, 55%, 55%, 1) */
    --primary-600: #2929ae;  /* hsla(240, 62%, 42%, 1) */

    --primary-700: #202097;  /* hsla(240, 65%, 36%, 1) */
    --primary-800: #212173;  /* hsla(240, 56%, 29%, 1) */
    --primary-900: #1E1B4B;  /* hsla(244, 47%, 20%, 1) */




    /* --------------------------------Grays-------------------------------- */

    --gray-100: #f1f3f9; /* hsla(222, 38%, 96%, 1) */
    --gray-200: #b3b9d6; /* hsla(229, 30%, 77%, 1) */
    --gray-300: #a3a7c2; /* hsla(232, 20%, 70%, 1) */

    --gray-400: #9495a8; /* hsla(237, 10%, 62%, 1) */
    --gray-500: #778;    /* hsla(240, 7%, 50%, 1) */
    --gray-600: #535365; /* hsla(240, 10%, 36%, 1) */

    --gray-700: #34344b; /* hsla(240, 18%, 25%, 1) */
    --gray-800: #1b1b2c; /* hsla(240, 24%, 14%, 1) */
    --gray-900: #10101e; /* hsla(240, 32%, 9%, 1) */



    /* ---------------------------------Accent--------------------------------- */

    --accent-50: #e5ffff; /* hsla(180, 100%, 95%, 1) */
    --accent-100: #cff; /* hsla(180, 100%, 90%, 1) */
    --accent-200: #97eded; /* hsla(180, 70%, 76%, 1) */
    --accent-300: #74dcdc; /* hsla(180, 60%, 66%, 1) */

    --accent-400: #5bc8bd; /* hsla(174, 50%, 57%, 1) */
    --accent-500: #39c6ae; /* hsla(170, 55%, 50%, 1) */
    --accent-600: #37a492; /* hsla(170, 50%, 43%, 1) */

    --accent-700: #228c7a; /* hsla(170, 61%, 34%, 1) */
    --accent-800: #0b6b5b; /* hsla(170, 82%, 23%, 1) */
    --accent-900: #024f42; /* hsla(170, 94%, 16%, 1) */


    /* -----------------------------Accent Warning----------------------------- */

    --accent-warning-100: #fdfde7; /* hsla(60, 88%, 95%, 1) */
    --accent-warning-200: #f5f5bc; /* hsla(60, 75%, 85%, 1)*/
    --accent-warning-300: #ebeb94; /* hsla(60, 68%, 75%, 1) */

    --accent-warning-400: #d4dd6e; /* hsla(65, 62%, 65%, 1) */
    --accent-warning-500: #b6cb4d; /* hsla(70, 55%, 55%, 1) */
    --accent-warning-600: #92a437; /* hsla(70, 50%, 43%, 1) */

    --accent-warning-700: #7a8c22; /* hsla(70, 61%, 34%, 1) */
    --accent-warning-800: #5b6b0b; /* hsla(70, 82%, 23%, 1) */
    --accent-warning-900: #424f02; /* hsla(70, 94%, 16%, 1) */




    /* -----------------------------Accent Danger----------------------------- */

    --accent-danger-100: #fde7e7; /* hsla(360, 88%, 95%, 1) */
    --accent-danger-200: #f5bcbc; /* hsla(360, 75%, 85%, 1) */
    --accent-danger-300: #eb9494; /* hsla(360, 68%, 75%, 1) */

    --accent-danger-400: #e45858; /* hsla(360, 72%, 62%, 1) */
    --accent-danger-500: #dd3c3c; /* hsla(360, 70%, 55%, 1) */
    --accent-danger-600: #a43740; /* hsla(355, 50%, 43%, 1) */

    --accent-danger-700: #8c2233; /* hsla(350, 61%, 34%, 1) */
    --accent-danger-800: #6b0b1b; /* hsla(350, 82%, 23%, 1) */
    --accent-danger-900: #4f020f; /* hsla(350, 94%, 16%, 1) */

  
    --black: #262626;
    --white: #fff;
    --fuente-principal: "Outfit", sans-serif;
  }
  
  /* @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  } */