

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  
    --primary: #6366F1;
    --secondary: #81c784;
    --tertiary: #90caf9;
  
    --dark-primary: #1E1B4B;
    --dark-secondary: #348137;
    --dark-tertiary: #2196f3;
  
    --accent: #f472b6;
    --info: #4caf50;
  
    --black: #262626;
    --white: #fff;
    --fuente-principal: "Outfit", sans-serif;
  }
  
  /* @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  } */