// THEME 1
$color-primary: #0008C1; // Encabezados, botones principales o elementos de navegación destacados
$color-secondary: #2146C7; // Color de acento o para resaltar ciertos elementos en la interfaz,  botones secundarios, iconos o elementos interactivos
$color-ternary: #E6CBA8; // Texto de alto contraste sobre el color primario o secundario.
$color-quaternary: #FDF0E0; // Fondo