// VARIABLES PARA BREAKPOINT
$large: 1416px;
$semiLarge: 1320px;
$medium: 1032px;
$average: 740px;
$small: 540px;


.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}