// VARIABLES PARA BREAKPOINT
$extraLarge: 1920px;
$large: 1416px;
$semiLarge: 1320px;
$medium: 1032px;
$average: 740px;
$small: 540px;
$extraSmall: 320px;

$marginL: 24px;
$marginS: 16px;

// MEDIDAS

$height-upper-bar: 32px;
$height-nav: 80px;

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}